.Wrapper{
    padding: 0 111px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    .Dropdown{
        font-size: 15px;
        padding: 10px;
        width: fit-content;
        color: $black;
    }
}
.TitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding-bottom: 30px;

}
.TitlePlace {
  display: flex;
  align-items: center;
  justify-content: start;
  color: $white;
  font-weight: $semibold;
  font-size: $h2;
  padding: 17px;
  padding-left: 30px;
  width: 100%;
  width: 100%;


  background-color: $dark-blue;
}
