.CardRandom {
  padding: 0px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    align-self: flex-start;
    padding: 38px;
    padding-left: 96px;
  }
}
